flask==3.0.2
flask-cors==4.0.0
numpy==1.26.4
opencv-python==4.9.0.80
pillow==10.2.0
werkzeug==3.0.1
scipy==1.12.0
scikit-learn==1.4.1.post1
torch==2.2.1
torchvision==0.17.1
pyttsx3==2.98
pywin32==309
comtypes==1.4.10
pypiwin32==223
mediapipe==0.10.12
pygrabber==0.1
requests==2.31.0
dataclasses-json==0.6.4
opencv-contrib-python==4.9.0.80
Flask-SQLAlchemy==3.1.1
pymysql==1.1.1
